@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body{
    background-color: #f4f6ff;
}

hr {

    border-color: grey;
    border-style: dotted none none;
    border-width: 5px;
    width: 4%;
    
}

h1{

    color: #8a2be2;
    font-family: 'Sriracha', cursive;

}

h3{

    color: #66BFBF;

}
